<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNGSuite">
<test name="TestNGTestCases">
<classes>
<class name="com.test.FactorialTest"></class>
</classes>
</test>

<test name="ReverseString">
<classes>
<class name="com.test.ReverseStringTest"></class>
</classes>
</test>
</suite>
